.DS_Store
.env
.env.local
.venv/
/.idea/

# Dependencies
node_modules/
**/node_modules/

# Build & Compilation Output
build/
**/build/
dist/
**/dist/
.react-router/
**/.react-router/

# Testing & Artifacts
test-results/
**/test-results/
playwright-report/
coverage/
