.DS_Store
.env
.env.*
**/.env
**/.env.*
.venv/
/.idea/

# Dependencies
node_modules/
**/node_modules/

# Build & Compilation Output
build/
**/build/
dist/
**/dist/
.react-router/
**/.react-router/

# Testing & Artifacts
test-results/
**/test-results/
playwright-report/
coverage/

# Uploaded Files
uploads/
**/uploads/

.neon
credentials.json
*.log
